$column-gap: 0.75rem !default;

.columns {
  display: flex;
  margin-left: -0.75rem;
  margin-right: -0.75rem;
  margin-top: -0.75rem;

  &:last-child {
    margin-bottom: -0.75rem;
  }

  &:not(:last-child) {
    margin-bottom: calc(1.5rem - 0.75rem);
  }

  &.is-centered {
    justify-content: center;
  }

  &.is-multiline {
    flex-wrap: wrap;
  }
}

.column {
  display: block;
  flex-basis: 0;
  flex-grow: 1;
  flex-shrink: 1;
  padding: $column-gap;
  
  &.is-full{
    flex: none;
    width: 100%;
  }
  
  @media screen and (min-width: 769px){
    &.is-1 {
    flex: none;
    width: 8.33333%;
    }
    &.is-2{
      flex: none;
      width: 16.66667%;
    }
    &.is-3{
      flex: none;
      width: 25%;
    }
    &.is-4{
      flex: none;
      width: 33.33333%;
    }
    &.is-5{
     flex: none;
    width: 41.66667%;
    }
    &.is-6{
         flex: none;
    width: 50%;
  }
    
    &.is-7{
      flex: none;
      width: 58.33333%;
  
    }
    &.is-8{
      flex: none;
    width: 66.66667%;
    }
    &.is-9{
      flex: none;
      width: 75%;
    }
    &.is-10{
      flex: none;
      width: 83.33333%;
    }
    &.is-11{
      flex: none;
      width: 91.66667%;
    }
    &.is-12{
      
    flex: none;
    width: 100%;

    }
  }
}