:root {
  --body: #ffffff;
  --text: #363636;
  --text-light: #898989;
  // --primary: #1bbeff;
  --border: #bbbbbb;
  --padding: 16px 24px;
  --line-height: 24px;
}

.creditCard{
  background-color: #fff;
  margin-left: 10px;
  margin-right: 10px;
  // height: 300px;
  width: 100%;
  padding:12px;
  border-radius: 20px;
  margin-top: 20px;
  margin-bottom: 50px;
  border-color: #d3d3d3;
  border-width: 5px;
}