.empty{
  margin-inline: 8px;
  font-size: 14px;
  line-height: 1.5714285714285714;
  text-align: center;
}
.empty-image{
  height: 100px;
  margin-bottom: 8px;
  opacity: 1;
  display: contents;
}
.empty-description{

}